.cdkseries-container {
  background-image: url('/images/books.png'); /* Background image for the section */
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cdkseries-content {
  background-color: rgba(255, 255, 255, 0.35); /* Semi-transparent white background */
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 750px;
  width: 100%;
}

.cdkseries-title {
  font-size: 3rem;
  color: #014DAB;
  margin-bottom: 20px;
}

.cdkseries-description {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 45px;
  font-weight: bold;
}

.cdkseries-button {
  background-color: #014DAB;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cdkseries-button:hover {
  background-color: #014DAB;
}
